@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    color: #fff;
}

header {
    height: 116px;
    background: #8AA578;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

header img {
    width: 90px;
}

.site_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    letter-spacing: 4px;
    color: #fff;
    font-size: 1.5em;
    gap: 10px;
}

.container {
    display: grid;
    grid-template-areas: 'form data';
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 100vh;
}

.form {
    font-size: 1.5em;
    padding-top: 180px;
    grid-area: 'form';
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #B3B792 54.02%, #889671 100%);
}

.form .inputs input {
    width: 700px;
    height: 65px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #000;
    padding-left: 20px;
    font-size: 1.5em;
}
.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#entrar, #criar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #725C3A;
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
    border-radius: 30px;
    font-size: 1.8em;
    border: none;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btns {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
}

.data {
    grid-area: 'data';
    background-image: url(student.png);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
}